.wrapper {
    width: 55vw;
    margin: 100px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 6px;

    .title {
        margin: 10px 0;
    }

}



@media (max-width:780px) {
    .wrapper {
        width: 90vw;
        padding: 10px;
    }
}